/* BASE */
body {
    margin: 0;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TABVIEW */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #555;
}

@media (max-width: 640px) {
    .ui-tabs.ui-tabs-top > .ui-tabs-nav li {
        width: 100%;
    }
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
    border: none;
}

@media (max-width: 640px) {
    .ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
        border: none;
    }
}

.backgoud-login {
    background-color: #1e94d2;
}

/* Menu */

/* define a fixed width for the entire menu */
.navigation {
    width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
}

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
    background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

/* Fim Menu*/

.rotulo {
    width: 150px !important;
}

.azul {
    color: white !important;
    background-color: blue !important;
}

.campo-venda {
    width: 43% !important;
}

.icon-center {
    text-align: center;
}

.elemento-centralizado {
    text-align: center;
}

.elemento-centralizado-direita {
    text-align: right;
}

.elemento-complemento {
    text-align: center;
    width: 100px;
    padding-left: auto;
}

.selecao-cliente {
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 90%;
}

.elemento-logradouro {
    padding: auto;
}

.elemento-cep {
    text-align: center;
    width: 70px;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: auto !important;
    padding-right: 108px !important;
}

.elemento-numero {
    text-align: center;
    width: 50px;
}

.elemento-botao {
    text-align: center;
    width: 30px;
}

.elemento-botoes {
    text-align: center;
    width: 90px;
    padding: auto;
}

.elemento-tabela input {
    width: 275%;
}

.elemento-botoes input {
    width: 90%;
}

.elemento-estado {
    text-align: center;
    width: 90px;
}

.elemento-data-nasc {
    text-align: center;
    width: 90px;
}

.elemento-cpf {
    text-align: center;
    width: 120px;
}

.elemento-codigo {
    text-align: right;
    width: 20px;
}

.conteudo-inicio {
    text-align: center;
    margin: 250px auto auto auto;
    font-size: 20px;
}

#login-dialog {
    width: 420px !important;
    margin: auto;
    margin-top: 150px;
}

.permissao-negada {
    text-align: center !important;
    margin-top: 279px !important;
}